.header {
    position: absolute;
    max-width: 1920px;
    display: flex;
    height: 60px;
    width: 100%;
    background-color: #E76C1F;
    justify-content: space-between;
    align-items: center;
}

.bgBurgerLogo {
    position: relative, fixed;
    display: flex;
    height: 400px;
    background-image: url(./assets/img/background_img.png);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: end;
    z-index: 19;
}

.headlineSection {
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8vh;
    padding-bottom: 30px;
    gap: 10px;
}

.linkMenu {
    display: flex;
    align-items: center;
    height: 35px;
    background-color: rgb(170, 165, 165);
    gap: 20px;
}

.mainContainer {
    display: flex;
    flex-grow: 1;
}

.mainContentSection {
    width: calc(100% - 430px);
}

.sectionTitle {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #E76C1F;
    margin-top: 10px;
    margin-bottom: 20px;
}

.title {
    padding-left: 30%;
    color: white;
}

.dishesSection {
    height: 612px;
    width: 700px;
}

.dishes {
    display: flex;
    background-color: #FDEADC;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
    margin-left: 100px;
    width: 80%;
    align-items: center;
    justify-content: start;
    gap: 25px;
}

.dishTitle {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;
    padding-top: 10px;
}

.dishesBottom {
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: column;
    gap: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.basketSection {
    display: flex;
    justify-content: center;
    width: 400px;
    flex-grow: 1;
    padding: 16px;
    padding-top: 10px;
    padding-right: 0;
}

.basket {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
    height: 500px;
    border-radius: 20px;
    background-color: #124658;
    position: sticky;
    top: 0;
    color: #FDEADC;
}

.filledBasket {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100%;
    height: 650px;
    border-radius: 20px;
    padding: 25px;
    background-color: #124658;
    position: sticky;
    top: 0;
    color: #FDEADC;
}

.closeIcons {
    display: none;
    width: 100%;
    height: 15px;
    display: flex;
    justify-content: end;
    padding-right: 25px;
    padding-top: 10px;
}

.basketTitle {
    display: block;
}

.basketOrders {
    overflow: auto;
    width: 80%;
    height: 350px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin-left: 6%;
}

.addedOrder {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    background-color: #FDEADC;
    width: 90%;
    margin: 10px 0;
    color: black;
    gap: 25px;
}

.basketIcons {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.costs {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 6%;
    gap: 20px;
}

.costList {
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #E76C1F;
}

.nav_bottom_list {
    display: none;
}

.dialog {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    border-width: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

}

.progress-container {
    width: 100%;
    background-color: #e0e0e0;
    height: 8px;
    border-radius: 4px;
    margin-top: 20px;
    overflow: hidden;
}

.progress-bar {
    width: 100%;
    height: 100%;
    background-color: #ff4400;
    animation: shrink 4s linear forwards;
}

@keyframes shrink {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}

@media (max-width: 1920px) {
    .basketSection {
        display: flex;
    }
}

@media (max-width: 1253px) {
    .filledBasket {
        width: 80%;

    }
}

@media (max-width: 1000px) {
    .filledBasket {
        width: 60%;

    }
}

@media (max-width: 940px) {
    .closeIcons {
        display: flex;
    }

    @media (max-width: 940px) {

        .basketSection {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 70px;
            width: 100%;
            height: calc(100vh - 70px);
            z-index: 999;
            display: none;
            padding: 0;
        }

        .filledBasket {
            width: 100%;
            height: 100%;
            margin-top: 0;
            border-radius: 0;
            position: relative;
            bottom: 0;
        }
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: start;
        padding-top: 20px;
        height: 130px;
        background-color: #E76C1F;
    }

    .nav_bottom_list {
        background-color: #124658;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 9999;
        border-top: solid rgba(255, 255, 255, 0.1);
    }

    .mainContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mainContentSection {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .dishes {
        margin-left: 0px;
        width: 100%;
    }
}

@media (max-width: 590px) {
    .dishes {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .dishTitle {
        padding-top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }

    .dishesBottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 15px;
    }

    .filledBasket {
        height: 550px;
        margin-top: 49.5vh;
    }
}

@media (max-width: 480px) {
    .mainContentSection {
        width: 100%;
    }

    .dishesSections {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dishes {
        width: 80%;
    }

    .headlineSection {
        padding-left: 20px;
        padding-right: 20px;
    }

    .linkMenu {
        display: flex;
        align-items: center;
        height: 30px;
        background-color: rgb(170, 165, 165);
        gap: 15px;
    }
}

@media (max-width: 375px) {
    .costs {
        margin-left: 0;
    }

    .basketOrders {
        margin-left: 0;
    }


}