.headerIcons {
    height: 25px;
    margin: 25px;
}

.backgroundImg {
    height: 510px;
    width: 100%;
    object-fit: cover;
}

.restaurantLogo {
    position: absolute;
    z-index: 20;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 22%;
}

.headlineTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    gap: 15px;
}

.linkButton {
    padding-left: 50px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    border-radius: 20px;
}

.linkButton:hover {
    color: #E76C1F;

}

.dishesImg {
    padding: 5px;
    object-fit: cover;
    height: 120px;
    width: 210px;
    border-radius: 12px;
}

.basketIcon {
    height: 50px;
    width: 50px;
}

.addButton:hover {
    transform: scale(1.10);
    transition: transform 0.3s ease;
    border-color: #E76C1F;
    cursor: pointer;
    border: 2px solid #E76C1F;
    border-radius: 50px;
}

.basketIcon {
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.basketIcon:hover {
    transform: scale(1.10);
    transition: transform 0.3s ease;
    border-color: #E76C1F;
    cursor: pointer;
    border: 2px solid #E76C1F;
    border-radius: 50px;
    background-color: #E76C1F;
}

.closingButton {
    display: none;
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.closingButton:hover {
    transform: scale(1.10);
    transition: transform 0.3s ease;
    border-color: #E76C1F;
    cursor: pointer;
    border: 2px solid #E76C1F;
    border-radius: 20px;
    background-color: #E76C1F;
}

.buyButton {
    height: 30px;
    width: 70%;
    background-color: #E76C1F;
    color: white;
    border-radius: 25px;
    border-color: #E76C1F;
    cursor: pointer;
    margin-left: 30px;
}

.buyButton:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    border-color: #000000;
    cursor: pointer;
    border: 2px solid #124658;
    border-radius: 25px;
    background-color: #000000;
}

.dialogWindow {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    width: 340px;
    height: 250px;
    border-radius: 40px;
    padding: 20px;
    background-color: #09212A;
    color: white;
}

.basket-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #c01111;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orderConfirmedText {
    margin-top: 30px;
}

@media (max-width: 940px) {
    .closingButton {
        display: flex;
    }

    .nav_item {
        background-color: #124658;
        border: none;
        padding-block: 0px;
        padding-inline: 0px;
        cursor: pointer;
        opacity: 0.9;
    }

    .nav_item:hover {
        transform: scale(1.10);
        transition: transform 0.3s ease;
        border-color: #E76C1F;
        cursor: pointer;
        border: 2px solid #E76C1F;
        border-radius: 5px;
        background-color: #E76C1F;
    }
}

@media (max-width: 590px) {
    .dishesImg {
        width: 20em;
        height: 86px;
    }
}

@media (max-width: 480px) {

    .dishesImg {
        width: 15em;
        height: 80px;
    }

    .restaurantLogo {
        width: 120px;
        height: 120px;
        left: 35%;
        top: 25%;
    }

    .headlineTitles {
        height: 30px;
    }

    .linkButton {
        padding-left: 25px;
        font-size: 20px;
    }
}

@media (max-width: 375px) {
    .buyButton {
        margin-left: 0;
    }


}

@media (max-width: 350px) {
    .headlineTitles {
        height: 27px;
    }

    .restaurantLogo {
        width: 120px;
        height: 120px;
        left: 30%;
        top: 25%;
    }
}